<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HIFI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <% if(loggedIn){ %>
          <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
        <% } else{ %>
          <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        <% } %>
      </li>
      <% if(loggedIn){ %>
        <% if(user === "admin"){ %>
          <li class="nav-item">
            <a class="nav-link" href="/dbs">Database</a>
          </li>
        <% } %>
      <% } %>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Database HIFI FMIPA Unpad</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/form" role="button">Isi database</a>
    </p>
  </div>
</div>

<%- include('partials/footer') %>
